<h1>Recipe comparison</h1>
<p>Enter the number of steps and number of ingredients of the recipes you wish to compare</p>




<%= form_tag('/recipecomparison', :method => "get") do %>
 <%= label_tag(:q, "Number of ingredients,Recipe1:") %>
<%= text_field_tag(:q) %><br>
  <%= label_tag(:y, "Number of steps,Recipe1:") %>
<%= text_field_tag(:y) %><br>
<%= label_tag(:name1, "Enter name/ingredient,Recipe1:") %>
<%= text_field_tag(:name1) %><br>
  

<%= label_tag(:x, "Number of ingredients,Recipe1:") %>
<%= text_field_tag(:x) %><br>
  <%= label_tag(:z, "Number of steps,Recipe2:") %> 
<%= text_field_tag(:z) %><br>
<br><%= label_tag(:name2, "Enter name/ingredient,Recipe2:") %>
<%= text_field_tag(:name2) %><br>
 
 <br> <%= submit_tag("Search") %></br>
<% end %>
<br>


<table class="table">
  <thead>
 
      
    <tr>
      <th scope="col">Recipe details</th>
      
     
     
      
    </tr>
  </thead>
  <tbody>
<% if params[:name1] && params[:name2] != nil %>
    <%@recipex.each do |ro|%>

    <tr>
      <td>Name</td>
      <td><%=ro.name%></td>
      
     
    </tr>
    <tr>
      <td>Number of steps</td>
      <td><%=ro.n_steps%></td>
      
     
    </tr>
    <tr>
      <td>Number of ingredients</td>
      <td><%=ro.n_ingredients%></td>
   <%end%>
<br>
     <tbody>
  Recipe 2
<br><%@recipe2.each do |r|%>
<td><%=r.name%></td>
<td><%=r.n_steps%></td>
 <td><%=r.n_ingredients%></td>
    </tr>

<%end%>
<%end%>
  </tbody>
</table>
