<h1>Recipe comparison</h1>
<h2>Here is the place where you can compare recipes based on the number of steps and
ingredients.<br><i> Enter the number of steps and number of ingredients and the name of the ingredient of the recipes you wish to compare: </i></h2>
<br>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>


<%= form_tag('/displaycomparison', :method => "get") do %>
 <%= label_tag(:q, "Number of ingredients,Recipe1:") %>
<%= text_field_tag(:q) %><br>
  <%= label_tag(:y, "Number of steps,Recipe1:") %>
<%= text_field_tag(:y) %><br>
<%= label_tag(:name1, "Enter name/ingredient,Recipe1:") %>
<%= text_field_tag(:name1) %><br>
<%= label_tag(:x, "Number of ingredients,Recipe2:") %>
<%= text_field_tag(:x) %><br>
  <%= label_tag(:z, "Number of steps,Recipe2:") %> 
<%= text_field_tag(:z) %><br>
<%= label_tag(:name2, "Enter name/ingredient,Recipe2:") %>
<%= text_field_tag(:name2) %><br>
 
 <br> <%= submit_tag("Search") %></br>
<% end %>
<br>




