Welcome to Recipe Master

<%= form_tag('/', method: :get) do%>
<%= text_field_tag 'search', nil, placeholder:'Search recipes by name'%>

<%= submit_tag ('Search')%>
<%end%>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Minutes</th>
      <th scope="col">Submitted</th>
      <th scope="col">Tags</th>
      <th scope="col">Nutrition</th>
      <th scope="col">N_steps</th>
      <th scope="col">Steps</th>
      <th scope="col">Description</th>
      <th scope="col">Ingredients</th>
      <th scope="col">N_ingredients</th>
    </tr>
    <tbody>
<%@recipes.each do |recipe|%>
    <tr>
      <th scope='row'><%=recipe.name%></th>
      <td><%=recipe.minutes%></td>
      <td><%=recipe.submitted%></td>
      <td><%=recipe.tags%></td>
      <td><%=recipe.nutrition%></td>
      <td><%=recipe.n_steps%></td>
      <td><%=recipe.steps%></td>
      <td><%=recipe.description%></td>
      <td><%=recipe.ingredients%></td>
      <td><%=recipe.n_ingredients%></td>
    </tr>
<%end%>
</tbody>
</table>

<p>WORD CLOUD</p>


    <script>
      /*! https://github.com/lucaong/jQCloud
       * Create an array of word objects, each representing a word in the cloud
       */
      var word_array = [
          {text: "Lorem", weight: 15},
          {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
          {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
          {text: "Sit", weight: 7},
          {text: "Amet", weight: 5}
          // ...as many words as you want
      ];

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(word_array);
      });
    </script>

    <div id="example" style="width: 550px; height: 350px;"></div>
