<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interaction.user_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @interaction.recipe_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @interaction.date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @interaction.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @interaction.review %>
</p>

<p>
  <strong>Rec:</strong>
  <%= @interaction.rec %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
