<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<div id="map-holder">
<div class="container fill">
<div id="mapid"> </div>
</div>
</div>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<script>
//source https://leafletjs.com/
//https://womanonrails.com/leaflet

var lmap = L.map('mapid').setView([51.505, -0.09],1);
 L.tileLayer('http://tile.stamen.com/watercolor/{z}/{x}/{y}.png', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
      maxZoom:13
  }).addTo(lmap);

<% @users.each do |user|%>
 marker<%=escape_javascript user.id%> = L.marker([<%=escape_javascript user.lat%>, <%=escape_javascript user.lng%>]).addTo(lmap);
 marker<%=escape_javascript user.id%>.bindPopup('<p>Name: <u><%=escape_javascript user.name%></u><br />Total number of recipes submitted: <b><%=escape_javascript (Recipe.where(contributor_id: user.id)).count%></b>');
<%end%>

</script>
