<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div class="field">
    <%= form.label :contributor_id %>
    <%= form.number_field :contributor_id %>
  </div>

  <div class="field">
    <%= form.label :submitted %>
    <%= form.text_area :submitted %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_area :tags %>
  </div>

  <div class="field">
    <%= form.label :nutrition %>
    <%= form.text_area :nutrition %>
  </div>

  <div class="field">
    <%= form.label :n_steps %>
    <%= form.number_field :n_steps %>
  </div>

  <div class="field">
    <%= form.label :steps %>
    <%= form.text_area :steps %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_area :ingredients %>
  </div>

  <div class="field">
    <%= form.label :n_ingredients %>
    <%= form.number_field :n_ingredients %>
  </div>

  <div class="field">
    <%= form.label :rec %>
    <%= form.number_field :rec %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
