<%= form_tag('/allrecipes', method: :get) do%>
<%= text_field_tag 'search', nil, placeholder:'Search recipes by name'%>

<%= submit_tag ('Search')%>
<%end%>

<%= link_to '<button type="button">Get the JSON of all data</button>'.html_safe, "/allrecipes/json" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Minutes</th>
      <th scope="col">Submitted</th>
      <th scope="col">Tags</th>
      <th scope="col">Nutrition</th>
      <th scope="col">N_steps</th>
      <th scope="col">Steps</th>
      <th scope="col">Description</th>
      <th scope="col">Ingredients</th>
      <th scope="col">N_ingredients</th>
    </tr>
    <tbody>
<%@recipes.each do |recipe|%>
    <tr>
      <th scope='row'><%=recipe.name%></th>
      <td><%=recipe.minutes%></td>
      <td><%=recipe.submitted%></td>
      <td><%=recipe.tags%></td>
      <td><%=recipe.nutrition%></td>
      <td><%=recipe.n_steps%></td>
      <td><%=recipe.steps%></td>
      <td><%=recipe.description%></td>
      <td><%=recipe.ingredients%></td>
      <td><%=recipe.n_ingredients%></td>
    </tr>
<%end%>
</tbody>
</table>
