<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interection.user_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @interection.recipe_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @interection.date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @interection.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @interection.review %>
</p>

<%= link_to 'Edit', edit_interection_path(@interection) %> |
<%= link_to 'Back', interections_path %>
