<%= form_with(model: interection, local: true) do |form| %>
  <% if interection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interection.errors.count, "error") %> prohibited this interection from being saved:</h2>

      <ul>
        <% interection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :recipe_id %>
    <%= form.number_field :recipe_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_area :date %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
