<h1>Why not pair a recipe with a refreshing cocktail?</h1>
<h2>Refresh the page to see another random selection</h2>
<br>

<div class = "recipe1container">
<div class = "row">
  <div class = "col" style="horizontal-align: middle; text-align: center;">
      <b><i><%=@response1.body["drinks"][0]["strDrink"]%></i></b><!--parsed json has a single key drinks that has one array -->
      <div class = "col">
      <img src="<%=@response1.body["drinks"][0]["strDrinkThumb"]%>" height="300px" width="300px" style="border-radius: 10px;">
      </div>
  </div>
  <div class = "col w-10">
    <br>
    <b>Ingredients</b><br>
    <ul> <!-- each cocktail can have up to 15 ingretients (based on the response)
              ice has no measure -->
      <%if @response1.body["drinks"][0]["strIngredient1"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient1"]%> - <%=@response1.body["drinks"][0]["strMeasure1"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient2"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient2"]%> - <%=@response1.body["drinks"][0]["strMeasure2"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient3"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient3"]%> - <%=@response1.body["drinks"][0]["strMeasure3"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient4"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient4"]%> - <%=@response1.body["drinks"][0]["strMeasure4"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient5"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient5"]%> - <%=@response1.body["drinks"][0]["strMeasure5"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient6"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient6"]%> - <%=@response1.body["drinks"][0]["strMeasure6"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient7"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient7"]%> - <%=@response1.body["drinks"][0]["strMeasure7"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient8"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient8"]%> - <%=@response1.body["drinks"][0]["strMeasure8"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient9"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient9"]%> - <%=@response1.body["drinks"][0]["strMeasure9"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient10"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient10"]%> - <%=@response1.body["drinks"][0]["strMeasure10"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient11"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient11"]%> - <%=@response1.body["drinks"][0]["strMeasure11"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient12"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient12"]%> - <%=@response1.body["drinks"][0]["strMeasure12"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient13"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient13"]%> - <%=@response1.body["drinks"][0]["strMeasure13"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient14"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient14"]%> - <%=@response1.body["drinks"][0]["strMeasure14"]%></li>
      <%end%>
      <%if @response1.body["drinks"][0]["strIngredient15"].present?%>
      <li><%=@response1.body["drinks"][0]["strIngredient15"]%> - <%=@response1.body["drinks"][0]["strMeasure15"]%></li>
      <%end%>
    </ul>
  </div>
  <div class = "col w-10">
    <br>
    <b>How to Prepare</b><br>
    <%=@response1.body["drinks"][0]["strInstructions"]%>
  </div>
</div>
</div>
<hr>

<div class = "recipe2container">
<div class = "row">
  <div class = "col" style="horizontal-align: middle; text-align: center;">
      <b><i><%=@response2.body["drinks"][0]["strDrink"]%></i></b><!--parsed json has a single key drinks that has one array -->
      <div class = "col">
      <img src="<%=@response2.body["drinks"][0]["strDrinkThumb"]%>" height="300px" width="300px" style="border-radius: 10px;">
      </div>
  </div>
  <div class = "col w-10">
    <br>
    <b>Ingredients</b><br>
    <ul> <!-- each cocktail can have up to 15 ingretients (based on the response)
              ice has no measure -->
      <%if @response2.body["drinks"][0]["strIngredient1"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient1"]%> - <%=@response2.body["drinks"][0]["strMeasure1"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient2"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient2"]%> - <%=@response2.body["drinks"][0]["strMeasure2"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient3"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient3"]%> - <%=@response2.body["drinks"][0]["strMeasure3"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient4"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient4"]%> - <%=@response2.body["drinks"][0]["strMeasure4"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient5"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient5"]%> - <%=@response2.body["drinks"][0]["strMeasure5"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient6"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient6"]%> - <%=@response2.body["drinks"][0]["strMeasure6"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient7"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient7"]%> - <%=@response2.body["drinks"][0]["strMeasure7"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient8"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient8"]%> - <%=@response2.body["drinks"][0]["strMeasure8"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient9"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient9"]%> - <%=@response2.body["drinks"][0]["strMeasure9"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient10"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient10"]%> - <%=@response2.body["drinks"][0]["strMeasure10"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient11"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient11"]%> - <%=@response2.body["drinks"][0]["strMeasure11"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient12"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient12"]%> - <%=@response2.body["drinks"][0]["strMeasure12"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient13"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient13"]%> - <%=@response2.body["drinks"][0]["strMeasure13"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient14"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient14"]%> - <%=@response2.body["drinks"][0]["strMeasure14"]%></li>
      <%end%>
      <%if @response2.body["drinks"][0]["strIngredient15"].present?%>
      <li><%=@response2.body["drinks"][0]["strIngredient15"]%> - <%=@response2.body["drinks"][0]["strMeasure15"]%></li>
      <%end%>
    </ul>
  </div>
  <div class = "col w-10">
    <br>
    <b>How to Prepare</b><br>
    <%=@response2.body["drinks"][0]["strInstructions"]%>
  </div>
</div>
</div>
<hr>

<div class = "recipe3container">
<div class = "row">
  <div class = "col" style="horizontal-align: middle; text-align: center;">
      <b><i><%=@response3.body["drinks"][0]["strDrink"]%></i></b><!--parsed json has a single key drinks that has one array -->
      <div class = "col">
      <img src="<%=@response3.body["drinks"][0]["strDrinkThumb"]%>" height="300px" width="300px" style="border-radius: 10px;">
      </div>
  </div>
  <div class = "col w-10">
    <br>
    <b>Ingredients</b><br>
    <ul> <!-- each cocktail can have up to 15 ingretients (based on the response)
              ice has no measure -->
      <%if @response3.body["drinks"][0]["strIngredient1"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient1"]%> - <%=@response3.body["drinks"][0]["strMeasure1"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient2"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient2"]%> - <%=@response3.body["drinks"][0]["strMeasure2"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient3"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient3"]%> - <%=@response3.body["drinks"][0]["strMeasure3"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient4"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient4"]%> - <%=@response3.body["drinks"][0]["strMeasure4"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient5"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient5"]%> - <%=@response3.body["drinks"][0]["strMeasure5"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient6"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient6"]%> - <%=@response3.body["drinks"][0]["strMeasure6"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient7"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient7"]%> - <%=@response3.body["drinks"][0]["strMeasure7"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient8"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient8"]%> - <%=@response3.body["drinks"][0]["strMeasure8"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient9"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient9"]%> - <%=@response3.body["drinks"][0]["strMeasure9"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient10"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient10"]%> - <%=@response3.body["drinks"][0]["strMeasure10"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient11"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient11"]%> - <%=@response3.body["drinks"][0]["strMeasure11"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient12"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient12"]%> - <%=@response3.body["drinks"][0]["strMeasure12"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient13"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient13"]%> - <%=@response3.body["drinks"][0]["strMeasure13"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient14"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient14"]%> - <%=@response3.body["drinks"][0]["strMeasure14"]%></li>
      <%end%>
      <%if @response3.body["drinks"][0]["strIngredient15"].present?%>
      <li><%=@response3.body["drinks"][0]["strIngredient15"]%> - <%=@response3.body["drinks"][0]["strMeasure15"]%></li>
      <%end%>
    </ul>
  </div>
  <div class = "col w-10">
    <br>
    <b>How to Prepare</b><br>
    <%=@response3.body["drinks"][0]["strInstructions"]%>
  </div>
</div>
</div>
<hr>

<div class = "recipe4container">
<div class = "row">
  <div class = "col" style="horizontal-align: middle; text-align: center;">
      <b><i><%=@response4.body["drinks"][0]["strDrink"]%></i></b><!--parsed json has a single key drinks that has one array -->
      <div class = "col">
      <img src="<%=@response4.body["drinks"][0]["strDrinkThumb"]%>" height="300px" width="300px" style="border-radius: 10px;">
      </div>
  </div>
  <div class = "col w-10">
    <br>
    <b>Ingredients</b><br>
    <ul> <!-- each cocktail can have up to 15 ingretients (based on the response)
              ice has no measure -->
      <%if @response4.body["drinks"][0]["strIngredient1"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient1"]%> - <%=@response4.body["drinks"][0]["strMeasure1"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient2"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient2"]%> - <%=@response4.body["drinks"][0]["strMeasure2"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient3"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient3"]%> - <%=@response4.body["drinks"][0]["strMeasure3"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient4"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient4"]%> - <%=@response4.body["drinks"][0]["strMeasure4"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient5"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient5"]%> - <%=@response4.body["drinks"][0]["strMeasure5"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient6"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient6"]%> - <%=@response4.body["drinks"][0]["strMeasure6"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient7"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient7"]%> - <%=@response4.body["drinks"][0]["strMeasure7"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient8"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient8"]%> - <%=@response4.body["drinks"][0]["strMeasure8"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient9"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient9"]%> - <%=@response4.body["drinks"][0]["strMeasure9"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient10"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient10"]%> - <%=@response4.body["drinks"][0]["strMeasure10"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient11"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient11"]%> - <%=@response4.body["drinks"][0]["strMeasure11"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient12"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient12"]%> - <%=@response4.body["drinks"][0]["strMeasure12"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient13"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient13"]%> - <%=@response4.body["drinks"][0]["strMeasure13"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient14"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient14"]%> - <%=@response4.body["drinks"][0]["strMeasure14"]%></li>
      <%end%>
      <%if @response4.body["drinks"][0]["strIngredient15"].present?%>
      <li><%=@response4.body["drinks"][0]["strIngredient15"]%> - <%=@response4.body["drinks"][0]["strMeasure15"]%></li>
      <%end%>
    </ul>
  </div>
  <div class = "col w-10">
    <br>
    <b>How to Prepare</b><br>
    <%=@response4.body["drinks"][0]["strInstructions"]%>
  </div>
</div>
</div>
<hr>

<div class = "recipe5container">
<div class = "row">
  <div class = "col" style="horizontal-align: middle; text-align: center;">
      <b><i><%=@response5.body["drinks"][0]["strDrink"]%></i></b><!--parsed json has a single key drinks that has one array -->
      <div class = "col">
      <img src="<%=@response5.body["drinks"][0]["strDrinkThumb"]%>" height="300px" width="300px" style="border-radius: 10px;">
      </div>
  </div>
  <div class = "col w-10">
    <br>
    <b>Ingredients</b><br>
    <ul> <!-- each cocktail can have up to 15 ingretients (based on the response)
              ice has no measure -->
      <%if @response5.body["drinks"][0]["strIngredient1"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient1"]%> - <%=@response5.body["drinks"][0]["strMeasure1"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient2"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient2"]%> - <%=@response5.body["drinks"][0]["strMeasure2"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient3"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient3"]%> - <%=@response5.body["drinks"][0]["strMeasure3"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient4"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient4"]%> - <%=@response5.body["drinks"][0]["strMeasure4"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient5"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient5"]%> - <%=@response5.body["drinks"][0]["strMeasure5"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient6"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient6"]%> - <%=@response5.body["drinks"][0]["strMeasure6"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient7"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient7"]%> - <%=@response5.body["drinks"][0]["strMeasure7"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient8"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient8"]%> - <%=@response5.body["drinks"][0]["strMeasure8"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient9"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient9"]%> - <%=@response5.body["drinks"][0]["strMeasure9"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient10"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient10"]%> - <%=@response5.body["drinks"][0]["strMeasure10"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient11"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient11"]%> - <%=@response5.body["drinks"][0]["strMeasure11"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient12"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient12"]%> - <%=@response5.body["drinks"][0]["strMeasure12"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient13"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient13"]%> - <%=@response5.body["drinks"][0]["strMeasure13"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient14"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient14"]%> - <%=@response5.body["drinks"][0]["strMeasure14"]%></li>
      <%end%>
      <%if @response5.body["drinks"][0]["strIngredient15"].present?%>
      <li><%=@response5.body["drinks"][0]["strIngredient15"]%> - <%=@response5.body["drinks"][0]["strMeasure15"]%></li>
      <%end%>
    </ul>
  </div>
  <div class = "col w-10">
    <br>
    <b>How to Prepare</b><br>
    <%=@response5.body["drinks"][0]["strInstructions"]%>
  </div>
</div>
</div>
<hr>
