<%= form_with(model: resipe, local: true) do |form| %>
  <% if resipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resipe.errors.count, "error") %> prohibited this resipe from being saved:</h2>

      <ul>
        <% resipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_id %>
    <%= form.text_field :recipe_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div class="field">
    <%= form.label :contributor_id %>
    <%= form.number_field :contributor_id %>
  </div>

  <div class="field">
    <%= form.label :sub,itted %>
    <%= form.number_field :sub,itted %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :nutrition %>
    <%= form.text_field :nutrition %>
  </div>

  <div class="field">
    <%= form.label :n_steps %>
    <%= form.text_field :n_steps %>
  </div>

  <div class="field">
    <%= form.label :integer %>
    <%= form.text_field :integer %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.number_field :description %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients %>
  </div>

  <div class="field">
    <%= form.label :n_ingredients %>
    <%= form.number_field :n_ingredients %>
  </div>

  <div class="field">
    <%= form.label :rec %>
    <%= form.number_field :rec %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
