<p id="notice"><%= notice %></p>

<h1>Resipes</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Name</th>
      <th>Minutes</th>
      <th>Contributor</th>
      <th>Sub,itted</th>
      <th>Tags</th>
      <th>Nutrition</th>
      <th>N steps</th>
      <th>Integer</th>
      <th>Description</th>
      <th>Ingredients</th>
      <th>N ingredients</th>
      <th>Rec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resipes.each do |resipe| %>
      <tr>
        <td><%= resipe.recipe_id %></td>
        <td><%= resipe.name %></td>
        <td><%= resipe.minutes %></td>
        <td><%= resipe.contributor_id %></td>
        <td><%= resipe.sub,itted %></td>
        <td><%= resipe.tags %></td>
        <td><%= resipe.nutrition %></td>
        <td><%= resipe.n_steps %></td>
        <td><%= resipe.integer %></td>
        <td><%= resipe.description %></td>
        <td><%= resipe.ingredients %></td>
        <td><%= resipe.n_ingredients %></td>
        <td><%= resipe.rec %></td>
        <td><%= link_to 'Show', resipe %></td>
        <td><%= link_to 'Edit', edit_resipe_path(resipe) %></td>
        <td><%= link_to 'Destroy', resipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resipe', new_resipe_path %>
