<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interraction.user_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @interraction.recipe_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @interraction.date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @interraction.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @interraction.review %>
</p>

<%= link_to 'Edit', edit_interraction_path(@interraction) %> |
<%= link_to 'Back', interractions_path %>
